<!-- <canvas id="myChart" style="max-width: 500px;"></canvas> -->
<br />
<div class="row no-gutters">
      <div class="offset-1 col-5" style="text-align: center;">
            <h5>Affluence selon l'heure en personnes</h5>
            <form action="">
                  <div *ngFor="let hour of hours" class="form-group row">
                        <label for="hour{{hour.beginH}}" class="col-4">
                              De {{hour.beginH}}h à {{hour.endH}}h :&nbsp;
                        </label>
                        <input type="number" name="hour{{hour.beginH}}" [(ngModel)]="hour.nb"
                              class="form-control col-6" />
                  </div>
            </form>
      </div>

      <div class="col-5" style="text-align: center;">
            <h5>Affluence selon les stations en pourcentages</h5>
            <form action="">
                  <div *ngFor="let busStop of busStopsPercents" class="form-group row">
                        <label for="{{busStop.name}}" class="col-4">
                              {{busStop.name}} :&nbsp;
                        </label>
                        <input type="number" name="{{busStop.name}}" [(ngModel)]="busStop.value"
                              class="form-control col-6" />
                  </div>
            </form>
      </div>
</div>