<div class="row no-gutters hauteur">
      <div class="col-9" id="mymap"></div>
      <div class="col-3 mx-auto">
            <h3 style="text-align:center;" class="mx-auto">Arrêt {{ busStopSelected?.name }} </h3>
            <ul>
                  <li>Latidude : {{busStopSelected?.latitude}} </li>
                  <li>Longitude : {{busStopSelected?.longitude}} </li>
                  <li>{{busStopSelected?.nbPersonsWaiting}} personne(s) attend(ent) à l'arrêt </li>
                  <li>{{busStopSelected?.nbPersonsComing}} personne(s) arrive(nt) à l'arrêt </li>
            </ul>
      </div>
</div>