.color1 /*black*/
{
    color: #000000

}
.color2 /*dark blue*/
{
    color: #00008B
}
.color3 /*rien pour l'instant*/
{
    color: #ffffff;
}
.color4 /*Violet Sombre*/
{
    color: #8B008B
    
}
.color5 /*Violet pale*/
{
    color: #DA70D6
}
.color6 /*blanc*/
{
    color: #FFFAFF
}